.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 500px;
    background-color: white;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    padding: 15px;
}

/* Wrapper Search Panel */
.wrapper-searchPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
